
.App {
  text-align: center;
  margin:0;
  padding-bottom: 6rem;
}

.App-logo {
  height: 40vmin;
}



.App-link {
  color: #09d3ac;
}

.container{
  background-color: rgb(246, 249, 252);
  margin:0 !important;
  padding: 0px 60px !important;
  margin-right: 0 !important;
  max-width: 100% !important;
}